<div class="span5 well">Welcome to my Site.</div>
<div class="span5 well">Recent Tweets</div>
<div class="span5 well">Recent Blog Posts</div>
<div class="span5 well">Know-how session mini content</div>