<div class="row">
	<div class="large-6 columns home-panel">
		<div class="row">
			<div class="large-6 columns">
				<%= gravatar_image_tag("tiagocis@gmail.com", gravatar: { size: 150 }, alt: "Tiago Amaro") %>
			</div>
			<div class="large-6 columns">
				Lero
			</div>
		</div>
	</div>
	<div class="large-6 columns home-panel">
		<p>Find me in app/views/application/index.html.erb</p>
	</div>
</div>
<div class="row">
	<div class="large-6 columns home-panel">
		<p>Find me in app/views/application/index.html.erb</p>
	</div>
	<div class="large-6 columns home-panel">
		<p>Find me in app/views/application/index.html.erb</p>
	</div>
</div>