.row
  .large-12.columns
    %h1.alert-box.alert
      404!
  .large-7.columns 
    %h2   
      Geez! 
      %code D=

    %h2 Can anyone take care of it?

    %h3
      %a{href: root_path} Go back
      %span#barrel-roll
        or
        %a{href: "#"} do a barrel roll

  .large-5.columns
    = render 'errors/fox'