<div class="span12 post">
  <h2 class="title">
    <%= @post.title %>
  </h2>

  <div class="body">
    <%= @post.body %>
  </div>
</div>

<div class="span12">
  <small>
    Posted by <%= @post.user.nickname %>
  </small>

  <div>
    <%= link_to 'Back', posts_path(page: params[:page], s: params[:s]) %>
  </div>
</div>
