/*
 *= require_self
 *= require_tree .
 */

@import "theme.css.sass"

// Navbar
// -------------------------
$navbarBrandColor: $themeYellow
$navbarBackgroundHighlight: $themeGray
$navbarText: $themeDarkGreen !default
$navbarLinkColor: $themeDarkGreen !default
$navbarLinkColorHover: $themeYellow !default
$navbarLinkColorActive: $themeGreen !default
$navbarLinkBackgroundHover: transparent !default

// Links
// -------------------------
$linkColor:             $themeRed !default
$linkColorHover:        darken($linkColor, 15%) !default

@import "bootstrap"
@import "bootstrap-responsive"

#main_content
  margin-top: $navbarHeight + 20px