@import 'foundation_and_overrides'

#go-top
  position: fixed
  bottom: 1em
  right: 1em
  text-decoration: none
  color: white
  background-color: rgba($themeBlue, 0.5)
  padding: 1em
  display: none