<div class="contain-to-grid">
  <nav class="top-bar">

    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="<%= root_path %>">Tiago Amaro</a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="divider"></li>
        <%= nav_link("Home", root_path) %>
        <li class="divider"></li>
        <%= nav_link("Twitter", page_path("twitter")) %>
        <li class="divider"></li>
      </ul>

    </section>
  </div>
</nav>