#twitter.row
  %h2
    Twitter
    %a.twitter-timeline{href: "https://twitter.com/tiagocis", 'data-tweet-limit' => '20', 'data-widget-id' => "347891026909863938"} Tweets from @tiagocis
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");